@page
@model IndexModel
@{
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h3 class="text-primary">Genres</h3>
        </div>
        <div class="col-6">
            <a asp-page="Create" class="btn btn-primary">
                Create new Genre
            </a>
        </div>
    </div>
</div>

<br /><br /><br />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Genres</th>
            <th>Albums</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.Genres)
        {
            <tr>
                <td width="50%">@obj.Name</td>
                <td width="50%">
                    @if (obj.Albums != null && obj.Albums.Any())
                    {
                        <ul>
                            @foreach (var album in obj.Albums)
                            {
                                <li>@album.Name - @album.Artist.Name</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>No albums.</p>
                    }
                </td>
                <td> <a asp-page="Edit" asp-route-id="@obj.Id">Edit</a> </td>
                <td> <a asp-page="Delete" asp-route-id="@obj.Id">Delete</a> </td>
            </tr>
        }
    </tbody>
</table>